<!DOCTYPE html>
<html>

<head>

</head>

<body>
    You should be redirected in a moment...

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var token = /^\#?token=(.+)/.exec(window.location.hash)
        if(token){
            token = token[1] || null
        }

        axios.post('/auth', {
            token
        }).then(function (response) {
            window.location.href = "/"
        }).catch(function (err) {
            window.location.href = "/"
        })
    </script>
</body>

</html>