<!DOCTYPE html>
<html>

<head>
    <title>Trello Display</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="d-flex align-items-center justify-content-center h-100">
        <a class="btn btn-primary" href="https://trello.com/1/authorize?expiration=never&name=Trello%20Display&scope=read&response_type=token&return_url=<%- return_url %>&key=<%- trello_api_key %>">Sign in with Trello</a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</body>

</html>